$primary-color: #f8ca22 !important;
$secondary-color: #146eb4 !important;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin overlay($color, $opacity) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color, $opacity);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
    background: #ccc;
    font-weight: 800;
    border-radius: 2.5%;
    @include easeOut;
  }
}

// Buttons
.btn {
  font-weight: 600;

  &-xl {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  &-primary {
    background-color: #444;
    border-color: $primary-color;
  }

  &-primary:hover {
    color: $secondary-color;
    background: #ccc;
    font-weight: 800;
    border-width: 2.8px;
    border-color: $secondary-color;
    // border-radius: 5%;
    @include easeOut;
  }
}

// Navbar
#mainNav {
  background-color: #252525;
}

// Showcase
#showcase {
  background: url(../img/background.jpg) no-repeat top center fixed/cover;
  position: relative;
  color: #fff;
  width: 100%;
  height: 100vh;

  .overlay {
    @include overlay(#333, 0.8);
  }
  .intro {
    font-size: 2.8rem;
    padding-top: 28vh;
    margin-bottom: 5rem;
    font-weight: 800;
  }
}

// Sections
section {
  padding: 100px 0;

  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Courier New", Courier, monospace;
  }
}
